<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Product</h6>
    </div>
    <form id="addProductForm" class="card-body">
        <div id="AlertModalDiv" class="hidden">
        </div>
        <div class="standard-form-table-container">
            <div class="standard-form-table-column">
                <div class="standard-form-row">
                    <span class="standard-form-label">
                        Product Name
                    </span>
                    <span class="standard-form-value">
                        <input class="form-control" />
                    </span>
                </div>
                <div class="standard-form-row">
                    <span class="standard-form-label">
                        Category
                    </span>
                    <span class="standard-form-value">
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Clothing & Accessories</option>
                                <option value="1">Home & Garden</option>
                                <option value="2">Electronics</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                    </span>
                </div>
                <div class="standard-form-row">
                    <span class="standard-form-label">
                        Price
                    </span>
                    <span class="standard-form-value">
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input class="form-control" />
                        </div>
                    </span>
                </div>
                <div class="standard-form-row">
                    <span class="standard-form-label">
                        Condition
                    </span>
                    <span class="standard-form-value">
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Brand New</option>
                                <option value="1">Used - Good</option>
                                <option value="2">Used - Fair</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                    </span>
                </div>
                <div class="standard-form-row">
                    <span class="standard-form-label">
                        Location
                    </span>
                    <span class="standard-form-value">
                        <input class="form-control" />
                    </span>
                </div>
                <div class="standard-form-row">
                    <span class="standard-form-label">
                        Qty
                    </span>
                    <span class="standard-form-value">
                        <input class="form-control" type"number" />
                    </span>
                </div>
            </div>
            <div class="standard-form-table-column">
                <div class="standard-form-row">
                    <span class="standard-form-label">
                        Description
                    </span>
                    <span class="standard-form-value">
                        <textarea class="form-control mh-100" id="remark" rows="3" placeholder="Enter Description" style="height: 100px;"></textarea>
                    </span>
                </div>
                <div class="standard-form-row">
                    <span class="standard-form-label">
                        <span>
                            Images<br />
                            <small class="title-details">
                                [636x165px]<br />
                                Format-[PNG, JPG, JPEG]
                            </small>
                        </span>
                    </span>
                    <span class="standard-form-value">
                        <div class="input-group file-upload-group">
                            <div name="ManualUpload">
                                <input type="file" class="custom-file-input" id="imageInput" accept="image/*" multiple>
                                <label class="custom-file-label" for="imageInput">Upload</label>
                            </div>
                            <div class="alert alert-info alert-dismissible">
                                <h5><i class="icon fa fa-info-circle"></i> Information:</h5>
                                <div class="remarks-details text-small">
                                    <p class="mb-1">1. Max. 3 Images per Product</p>
                                    <p class="mb-1">2. Tick the box beside the image to set it as the main image.</p>
                                </div>
                            </div>
                            <div id="imagePreview" class="image-preview"></div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <input type="submit" value="Add Product" class="btn btn-primary" />
        </div>
    </form>
</div>