<div class="container">
  <h2 class="text-3xl font-semibold text-center">Shop range of products</h2>
  <div class="category-container">
    <div class="category" onclick="location.href='#'"> 
      <i class="fas fa-tshirt fa-3x mb-4"></i>
      <p class="text-lg font-semibold text-center">Clothing & Accessories</p>
    </div>
    <div class="category" onclick="location.href='#'"> 
      <i class="fas fa-home fa-3x mb-4"></i>
      <p class="text-lg font-semibold text-center">Home & Garden</p>
    </div>
    <div class="category" onclick="location.href='#'"> 
      <i class="fas fa-desktop fa-3x mb-4"></i>
      <p class="text-lg font-semibold text-center">Electronics</p>
    </div>
    <div class="category" onclick="location.href='#'"> 
      <i class="fas fa-book fa-3x mb-4"></i>
      <p class="text-lg font-semibold text-center">Books & Media</p>
    </div>
    <div class="category" onclick="location.href='#'"> 
      <i class="fas fa-futbol fa-3x mb-4"></i>
      <p class="text-lg font-semibold text-center">Sports & Leisure</p>
    </div>
    <div class="category" onclick="location.href='#'"> 
      <i class="fas fa-ellipsis-h fa-3x mb-4"></i>
      <p class="text-lg font-semibold text-center">Others</p>
    </div>
  </div>
