<div class="container sdg-container">
    <h1>SDG 17: Partnerships for the Goals</h1>
    <p>Goal 17 aims to strengthen global partnerships to support and achieve the ambitious targets of the 2030 Agenda.</p>
    <div id="sdgImages" class="sdg-images">
    </div>
    {% set id = 8 %}
    <div class="modal fade" id="SDG_{{id}}Modal" tabindex="-1" aria-labelledby="closedSDG_{{id}}ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content shadow-lg">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="SDG_{{id}}ModalLabel">
                        8 DECENT WORK AND ECONOMIC GROWTH
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{company}} encourages responsible consumption and production by facilitating the exchange of pre-loved goods. Highlight the benefits of reducing waste and promoting circular economy practices, which align with Australia's commitment to sustainability and environmental stewardship.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% set id = 10 %}
    <div class="modal fade" id="SDG_{{id}}Modal" tabindex="-1" aria-labelledby="closedSDG_{{id}}ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content shadow-lg">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="SDG_{{id}}ModalLabel">
                        10 REDUCED INEQUALITIES
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{company}} supports economic growth by providing a platform for Australians to buy and sell second-hand items. Emphasize the economic opportunities for individuals and small businesses to earn income and contribute to the local economy through sustainable trade practices.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% set id = 12 %}
    <div class="modal fade" id="SDG_{{id}}Modal" tabindex="-1" aria-labelledby="closedSDG_{{id}}ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content shadow-lg">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="SDG_{{id}}ModalLabel">
                        12 RESPONSIBLE CONSUMPTION AND PRODUCTION
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{company}} encourages responsible consumption and production by facilitating the exchange of pre-loved goods. Highlight the benefits of reducing waste and promoting circular economy practices, which align with Australia's commitment to sustainability and environmental stewardship.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% set id = 13 %}
    <div class="modal fade" id="SDG_{{id}}Modal" tabindex="-1" aria-labelledby="closedSDG_{{id}}ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content shadow-lg">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="SDG_{{id}}ModalLabel">
                        13 CLIMATE ACTION
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{company}} contributes to climate action by promoting the reuse and recycling of products, reducing the carbon footprint associated with manufacturing and transportation. Showcase the environmental benefits of choosing second-hand goods and encourage Australians to make eco-conscious purchasing decisions.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>