<div class="container">
    <h2>SDG 17: Partnerships for the Goals</h2>
    <p>Goal 17 aims to strengthen global partnerships to support and achieve the ambitious targets of the 2030 Agenda.</p>
    <div id="sdgImages" class="sdg-images">
    </div>
</div>

<div class="modal fade" id="SDG_13Modal" tabindex="-1" aria-labelledby="closedSDG_13ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    13 CLIMATE ACTION
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Take urgent action to combat climate change and its impacts
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SDG_14Modal" tabindex="-1" role="dialog" aria-labelledby="closedSDG_14ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    14 LIFE BELOW WATER
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Conserve and sustainably use the oceans, seas and marine resources for sustainable development
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    
<div class="modal fade" id="SDG_15Modal" tabindex="-1" role="dialog" aria-labelledby="closedSDG_15ModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    15 LIFE ON LAND
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Protect, restore and promote sustainable use of terrestrial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degradation and halt biodiversity loss
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>