{% extends "base.html" %}

{% block title %}Product {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <div class="text-center mb-4">
                            <h2>Reset Your Password</h2>
                        </div>
                        <form class="row g-3">
                            <div class="col-12">
                              <label for="newPassword" class="form-label">New Password:</label>
                              <input type="password" class="form-control" id="newPassword" placeholder="********">
                            </div>
                            <div class="col-12">
                              <label for="retypeNewPassword" class="form-label">Retype New Password:</label>
                              <input type="password" class="form-control" id="retypeNewPassword" placeholder="********">
                            </div>                         
                            <hr>
                            <div class="text-end d-grid gap-2 d-lg-flex justify-content-md-between">
                            <a class="btn btn-primary" href="#">Submit</a>
                            <a class="btn btn-danger" href="/home" id="cancelBtn">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/users/profile.js') }}"></script>
{% endblock %}

{% block css %}
{% endblock %}
