{% extends "base.html" %}

{% block title %}Profile {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <div class="text-center mb-4">
                            <h1>Your Profile</h1>
                        </div>
                        <div class="text-center mb-4">
                            <i class="fa-rounded fa-solid fa-user-secret fa-4x"></i>
                        </div>
                        <form class="row g-3">
                            <div class="col-md-6">
                                {{ form.first_name.label(class="form-label", for="firstName") }}
                                {{ form.first_name(class="form-control",disabled=True) }}
                            </div>
                            <div class="col-md-6">
                                {{ form.last_name.label(class="form-label", for="lastName") }}
                                {{ form.last_name(class="form-control", disabled=True) }}
                            </div>
                            <div class="col-12">
                                {{ form.email.label(class="form-label", for="email") }}
                                {{ form.email(class="form-control", disabled=True) }}
                            </div>
                            <div class="col-9">
                                {{ form.address.label(class="form-label", for="address") }}
                                {{ form.address(class="form-control", disabled=True) }}
                            </div>
                            <div class="col-md-3">
                                {{ form.postcode.label(class="form-label", for="postcode") }}
                                {{ form.postcode(class="form-control", disabled=True) }}
                            </div>
                            <div class="col-mb-3">
                                {{ form.account_type.label(class="form-label", for="accountType") }}
                            <div class="input-group">
                                {% if verified %}
                                    <span class="input-group-text" id="accountCheck"><i class="verified fa-regular fa-circle-check" title="Verified"></i></span>
                                {% else %}
                                    <span class="input-group-text" id="accountCheck"><i class="unverified fa-regular fa-circle-check" title="Verified"></i></span>
                                {% endif %}
                                {{ form.account_type(class="form-control", disabled=True) }}
                              </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" id="gridCheck" data-bs-toggle="collapse" data-bs-target="#sellerForm" aria-expanded="false" aria-controls="sellerForm">
                                    <label class="form-check-label" for="gridCheck">
                                        Become a seller?
                                    </label>
                                </div>
                                <div class="collapse" id="sellerForm">
                                    <div id="AlertModalDiv">
                                      {% include "/layout/alert_modal.html" %}
                                    </div>
                                    <form class="p-4">
                                        <div class="mb-3">
                                            <label for="exampleCheckboxFormPassword" class="form-label">Confirm Your Password:</label>
                                            {{ form.confirm_password(type="password", class="form-control mb-3", id="deactivatePassword", placeholder="Your Password") }}
                                        </div>
                                        <div class="mb-3">
                                            <div class="form-check form-check-reverse">
                                                <input type="radio" class="form-check-input" id="sellerAgreement">
                                                <label class="form-check-label" for="sellerAgreement">
                                                    I agree to the terms and conditions.
                                                </label>
                                            </div>
                                        </div>
                                        {{ form.submit(class="btn btn-primary", id="confirmSelletBtn") }}
                                    </form>
                                </div>
                            </div>                            
                            <!-- Edit Profile Button -->
                            <hr>
                            <div class="text-end d-grid gap-2 d-lg-flex justify-content-md-end">
                            <a class="btn btn-primary" href="edit_profile">Edit Profile</a>
                            <a class="btn btn-danger ms-lg-2" href="#" id="deactivateAccountBtn">Deactivate Account</a>
                        </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmDeactivateModal" tabindex="-1" aria-labelledby="confirmDeactivateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeactivateModalLabel">
                        <span class="text-danger"><i class="fas fa-exclamation-triangle"></i></span>
                        Confirm Deactivation
                    </h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div data-id="deactivate_AlertModalDiv">
                    {% set divId = 'deactivate_AlertModalDiv' %}
                  {% include "/layout/alert_modal.html" %}
                </div>
                <form action="/deactivate"  method="POST">
                    <div class="modal-body">
                        <p>Please enter your password to confirm account deactivation:</p>
                        {{ form.deactivate_password(type="password", class="form-control mb-3", id="deactivatePassword", placeholder="Your Password") }}
                        <p>CAUTION: Your profile will be permanently deleted and cannot be recovered.</p>
                    </div>
                    <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" type="button" data-bs-dismiss="modal">Close</button>
                        {{ form.submit(class="btn btn-danger", type="button", id="confirmDeactivateBtn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/users/profile.js') }}"></script>
{% endblock %}

{% block css %}
{% endblock %}
