{% extends "base.html" %}

{% block title %}Profile {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <div class="text-center mb-4">
                            <h1>Your Profile</h1>
                        </div>
                        <div class="text-center mb-4">
                            <i class="fa-rounded fa-solid {{ form.avatar_icon.data }} fa-4x"></i>
                        </div>
                        {% if not form.errors %}
                            <div id="AlertModalDiv">
                            {% include "/layout/alert_modal.html" %}
                            </div>
                        {% endif %}
                        <form class="row g-3" action="/update_account_type"  method="POST">
                            {{ form.hidden_tag() }}
                            <div class="col-md-6">
                                {{ form.first_name.label(class="form-label", for="firstName") }}
                                {{ form.first_name(class="form-control",disabled=True) }}
                            </div>
                            <div class="col-md-6">
                                {{ form.last_name.label(class="form-label", for="lastName") }}
                                {{ form.last_name(class="form-control", disabled=True) }}
                            </div>
                            <div class="col-12">
                                {{ form.email.label(class="form-label", for="email") }}
                                {{ form.email(class="form-control", disabled=True) }}
                            </div>
                            <div class="col-9">
                                {{ form.address.label(class="form-label", for="address") }}
                                {{ form.address(class="form-control", disabled=True) }}
                            </div>
                            <div class="col-md-3">
                                {{ form.postcode.label(class="form-label", for="postcode") }}
                                {{ form.postcode(class="form-control", disabled=True) }}
                            </div>
                            <div class="col-mb-3">
                                {{ form.account_type.label(class="form-label", for="accountType") }}
                            <div class="input-group">
                                {% if verified %}
                                    <span class="input-group-text" id="accountCheck"><i class="verified fa-regular fa-circle-check" title="Verified"></i></span>
                                {% else %}
                                    <span class="input-group-text" id="accountCheck"><i class="unverified fa-regular fa-circle-check" title="Verified"></i></span>
                                {% endif %}
                                {{ form.account_type(class="form-control", disabled=True) }}
                              </div>
                            </div>
                            {% set form = account_form %}
                            {% if form.become_seller.data %}
                                <div class="col-12">
                                    {{ form.shop_name.label(class="form-label") }}
                                    {{ form.shop_name(class="form-control mb-3", disabled=True) }}
                                    {% for error in form.shop_name.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="col-12">
                                {% if form.errors %}
                                    <div id="account_AlertModalDiv">
                                        {% set divId = '#account_AlertModalDiv' %}
                                    {% include "/layout/alert_modal.html" %}
                                    </div>
                                {% endif %}
                                <div class="form-check mb-3">
                                    {{ form.become_seller(class="form-check-input", id="gridCheck") }}
                                    {{ form.become_seller.label(class="form-check-label", for="gridCheck") }}
                                    {% for error in form.become_seller.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% set class = "" %}
                                {% if show %} {% set class = "show" %} {% endif %}
                                <div class="collapse {{class}}" id="sellerForm">
                                    {% if not form.become_seller.data %}
                                        <div class="mb-3">
                                            {{ form.shop_name.label(class="form-label") }}
                                            {{ form.shop_name(class="form-control mb-3") }}
                                            {% for error in form.shop_name.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="mb-3">
                                        {{ form.confirm_password.label(for="exampleCheckboxFormPassword", class="form-label") }}
                                        {{ form.confirm_password(type="password", class="form-control mb-3", id="exampleCheckboxFormPassword", placeholder="Your Password") }}
                                        {% for error in form.confirm_password.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-check form-check-reverse">
                                            {% for subfield in form.agree_to_terms %}
                                                {{ subfield(class="form-check-input",id="sellerAgreement", novalidate='asdsad') }}
                                            {% endfor %}
                                            {{ form.agree_to_terms.label(class="form-check-label", for="sellerAgreement") }}
                                        </div>
                                    </div>
                                    {{ form.submit(class="btn btn-primary", id="confirmSellerBtn") }}
                                </div>
                            </div>
                            <!-- Edit Profile Button -->
                            <hr>
                            <div class="text-end d-grid gap-2 d-lg-flex justify-content-md-end">
                                <a class="btn btn-primary" href="edit_profile">Edit Profile</a>
                                <a class="btn btn-danger ms-lg-2" href="#" id="deactivateAccountBtn">Deactivate Account</a>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set class = "" %}
    {% if show_modal %} {% set class = "show" %} {% endif %}
    <div class="modal fade" id="confirmDeactivateModal" tabindex="-1" aria-labelledby="confirmDeactivateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeactivateModalLabel">
                        <span class="text-danger"><i class="fas fa-exclamation-triangle"></i></span>
                        Confirm Deactivation
                    </h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% set form = deactivate_form %}
                {% if form.errors %}
                    <div id="deactivate_AlertModalDiv" class="mt-4">
                        {% set divId = '#deactivate_AlertModalDiv' %}
                    {% include "/layout/alert_modal.html" %}
                    </div>
                {% endif %}
                <form action="/deactivate"  method="POST">
                    {{ form.hidden_tag() }}
                    <div class="modal-body">
                        <p>Please enter your password to confirm account deactivation:</p>
                        {{ form.deactivate_password(class="form-control mb-3", id="deactivatePassword", placeholder="Your Password") }}
                        <p>CAUTION: Your profile will be permanently deleted and cannot be recovered.</p>
                    </div>
                    <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" type="button" data-bs-dismiss="modal">Close</button>
                        {{ form.submit(class="btn btn-danger", id="confirmDeactivateBtn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const show_deavtivate_modal = "{{ show_modal }}";
    </script>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/users/profile.js') }}"></script>
{% endblock %}

{% block css %}
{% endblock %}
