<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Your Email</title>
</head>
<body>
    <p>G'day {{ user.username }},</p>
    <p>Welcome to {{company}}!</p>
    <p>Please verify your email address by clicking the link below:</p>
    <p><a href="{{ url_for('main.verify_email', token=token, _external=True) }}">Verify Your Email</a></p>
    <p>If you didn't sign up, no worries—just ignore this email.</p>
    <p>Thank you for your attention to this matter.</p>
    <p>Cheers,</p>
    <p>The {{company}} Corporation</p>
</body>
</html>