<div class="modal fade modal-server-listing" id="deploymentWhitelabelModal" tabindex="-1" role="dialog" aria-labelledby="deploymentWhitelabelModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content shadow-lg">
            <div class="modal-header text-center">
                <h5 class="modal-title">  <span id="popup-whitelabel-appPoolName" class="text-warning">Deployment Pending Whitelabel</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="deploymentWhitelabel_AlertModalDiv" class="hidden">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                </div>

                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper ">
                        <div class="row">
                            <table id="deployment-whitelabel-table"
                                   class="table table-bordered"
                                   width="100%"
                                   role="grid"
                                   aria-describedby="dataTable_info"
                                   style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>No.</th>
                                        <th>WhitelabelId</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>