<div class="modal fade" id="productOrderModal" tabindex="-1" role="dialog" aria-labelledby="productOrderModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content shadow-lg">
            <div class="modal-header text-center">
                <h5 class="modal-title">Product Order:<span id="popup-product-name" class="ms-2">NAME</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="productOrder_AlertModalDiv">
                </div>
                <div class="table-responsive shadow">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="product-order-table"
                                   class="table table-bordered"
                                   width="100%"
                                   role="grid"
                                   aria-describedby="dataTable_info"
                                   style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>No.</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Contact No.</th>
                                        <th>Created On</th>
                                        <th>Qty</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>