<div class="card table-card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Product Listing</h6>
    </div>
    <div class="card-body">
        <div id="AlertModalDiv" class="hidden">
            {% include "/layout/alert_modal.html" %}
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end mb-2">
                <a href="/manage_product/add" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Add Product</a>
            </div>
        </div>
        <div class="table-responsive">
            <div class="row">
                <div class="col-sm-12">
                    <table id="product-table"
                           class="table table-bordered"
                           width="100%"
                           role="grid"
                           aria-describedby="dataTable_info"
                           style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th></th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Is Active</th>
                                <th>Condition</th>
                                <th>Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pro in products %}
                                {% set inputChecked = "" %}
                                {% set status = "Off" %}
                                {% if pro.isActive %}
                                    {% set inputChecked = "checked" %}
                                    {% set status = "On" %}
                                {% endif %}
                                <tr>
                                    <td class="dt-control"></td>
                                    <td>{{ pro.product_name }}</td>
                                    <td>{{ pro.category }}</td>
                                    <td>{{ pro.price }}</td>
                                    <td>{{ pro.quantity }}</td>
                                    <td>
                                        <div class="checkbox-switch"><input id="isActive_{{pro.id}}" onclick="switchIsActive({{pro.id}})" name="isActive[{{pro.id}}]" type="checkbox" value="{{pro.isActive}}" {{inputChecked}}>
                                            <label data-label-off="Off" for="isActive_{{pro.id}}" data-label-on="On"></label>
                                        </div>
                                    </td>
                                    <td>{{ pro.location }}</td>
                                    <td>{{ pro.condition }}</td>
                                    <td>
                                        <div class="action-container">
                                            <button class="edit ms-2" title="Edit" onclick="editProduct({{pro.id}})"><span><i class="fa-lg fa-solid fa-pen-to-square"></i></span></button>
                                            <button class="delete ms-2" title="Delete" onclick="deleteProdcut({{pro.id}})"><span><i class="fa-lg fa-solid fa-trash-can"></i></span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="d-none text-small">
                                    <td colspan="10">
                                        {% include "/seller/product_table_child.html" %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mt-2 mr-2 d-flex justify-content-end">
                    <nav aria-label="ProductPageNav">
                        <ul id="ProductPageNavBar" class="pagination">
                            <li class="page-item {% if not prev_url %} disabled{% endif %}"><a class="page-link" href="{{prev_url}}">Previous</a></li>
                            {% for page in pages %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('seller', page=page) }}">{{ page }}</a></li>
                            {% endfor %}
                            <li class="page-item {% if not next_url %} disabled{% endif %}"><a class="page-link" href="{{next_url}}">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>