<div class="row mt-2 mb-2">
    <div class="col-6">
        <div class="card table-border-left-green shadow h-100 py-2">
            <div class="card-body row">
                <div class="col">
                    <div class="col mr-2">
                        <div class="text-uppercase mb-1">Description</div>
                        <span> {{ pro.description }} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card table-border-left-blue shadow h-100 py-2 on-hover" onclick="loadOrders({{pro.id}}, '{{ pro.product_name }}')" data-toggle="modal" data-target="#productOrderModal" style="cursor: pointer;">
            <div class="card-body row">
                <div class="col-12">
                    <div class="underline text-uppercase me-4">
                        View Order Listing <i class="fa-solid fa-angle-right view-listing"></i>
                    </div>
                    <div class="d-flex align-items-start flex-column">
                        <div class="d-flex mt-2 success col-6">
                            <span>Success   : {{ pro.orders.approved }}</span>
                        </div>
                        <div class="d-flex mt-2 pending col-6">
                            <span>Pending   : {{ pro.orders.pending }}</span>
                        </div>
                        <div class="d-flex mt-2 rejected col-6">
                            <span>Reject    : {{ pro.orders.rejected }}</span>
                        </div>
                        <div class="d-flex mt-2 cancelled col-6">
                            <span>Cancel    : {{ pro.orders.cancelled }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card table-border-left-yellow shadow h-100 py-2">
            <div class="card-body row">
                <div class="col-12">
                    <div class="col mr-2 mb-2">
                        <div class="text-uppercase mb-1">Created By</div>
                        <span> {{ pro.owner.username }} </span>
                    </div>
                    <div class="col mr-2">
                        <div class="text-uppercase mb-1">Created On</div>
                        <span> {{ pro.created_on.strftime('%Y-%m-%d %H:%M:%S') }} </span>                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-2">
        <div class="col-12">
            <div class="card table-border-left-red shadow h-100 py-2">
                <div class="card-body row">
                    <div class="col no-gutters align-items-center">
                        <div class="col mr-2 mb-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Preview Product</div>
                            <div class="preview-img">
                                {% for img in pro.imgs %}
                                    <img class="rounded" src=/static/img/{{ img }}>
                                {% endfor %}
                            </div>                    
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>