{% extends "base.html" %}

{% block title %}Category {% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <div class="mb-2 mr-2 d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="View Toggle">
                        <input type="radio" class="btn-check" name="btnradio" id="gridViewBtn" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="gridViewBtn">Grid View</label>
                        <input type="radio" class="btn-check" name="btnradio" id="listViewBtn" autocomplete="off">
                        <label class="btn btn-outline-primary" for="listViewBtn">List View</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% include "/product/filter_bar.html" %}
          
            <div class="col-12 col-xl-10">
              <!-- Product display (grid view) -->
              <div class="row d-flex justify-content-around" id="productGrid">
              {% for _ in range(3) %}
                  {% for category in categories %}
                      {% for cat, products in category.items() %}
                          {% for product in products %}
                            {% if product %}
                              {% include "/product/display_card.html" %}
                            {% endif %}
                          {% endfor %}
                      {% endfor %}
                  {% endfor %}
              {% endfor %}
              </div>
            
              <!-- Product display (list view) - initially hidden -->
              <div class="row d-none" id="productList">
                <div class="col-lg-12">
                  <!-- Product list -->
                  <ul class="list-group">
                    <!-- List items -->
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/product/categories.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product/product.css') }}" type="text/css" />
{% endblock %}