<div class="display-card" data-id="{{ product.id }}">
    <div class="card">
        <img class="rounded" src="{{ product.img }}" height="120" alt="{{ product.title }}">
        <div class="card-body">
            <h5 class="d-flex justify-content-start ms-2" style="max-width: 80%;">
                <span class="text-truncate">
                    {{ product.product_name }}
                </span>
            </h5>
            <div class="d-flex justify-content-start">
                <p class="card-text">AUD {{ '%0.2f'|format(product.price|float) }}</p>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <span class="p-2 d-flex justify-content-start">Qty: {{ product.quantity }}</span>
                <div class="p-2 d-flex justify-content-end">    
                    <i class="fa-solid fa-location-dot me-2"></i>
                    <span>{{ product.location }}</span>
                </div>
            </div>
        </div>
    </div>
</div>