<!-- Filter bar Horizontal -->
<div id="productFilterDropdownBar" class="d-xl-none col-12">
  <form method="POST" class="row mb-4" action="{{ url_for('main.filter_products', view=view) }}">
    {{ form.hidden_tag() }}
    <div class="col-3">
      <h5>Categories</h5>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu w-100" aria-labelledby="dropdownMenu">
          {% for choice in form.categories %}
            <div class="form-check">
              {{ choice(class="form-check-input") }}
              {{ choice.label(class="form-check-label") }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-3">
      <h5>Conditions</h5>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Conditions
        </button>
        <div class="dropdown-menu w-100" aria-labelledby="dropdownMenu">
          {% for choice in form.conditions %}
            <div class="form-check">
              {{ choice(class="form-check-input") }}
              {{ choice.label(class="form-check-label") }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-3">
      <h5>Price</h5>
      <select name="price" class="form-select">
        {% for choice in form.price %} {{choice}} {% endfor %}
      </select>
    </div>
    <div class="col-3 d-flex align-items-end">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>

<!-- Filter bar Vertical -->
<div id="productFilterBar" class="d-none d-xl-block col-2">
  <div class="card">
    <div class="card-body">
      <form method="POST" action="{{ url_for('main.filter_products', view=view) }}">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          <h5 class="card-title">Categories</h5>
          {% for choice in form.categories %}
          <div class="form-check">
            {{ choice(class="form-check-input") }}
            {{ choice.label(class="form-check-label") }}
          </div>
          {% endfor %}
        </div>
        <div class="mb-3">
          <h5 class="card-title">Conditions</h5>
          {% for choice in form.conditions %}
          <div class="form-check">
            {{ choice(class="form-check-input") }}
            {{ choice.label(class="form-check-label") }}
          </div>
          {% endfor %}
        </div>
        <div class="mb-3">
          <h5 class="card-title">Price</h5>
          <select name="price" class="form-select">
            {% for choice in form.price %} {{choice}} {% endfor %}
          </select>
        </div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>
  </div>
</div>