{% extends "base.html" %}

{% block title %}Product {% endblock %}

{% block content %}
    <div class="container">
        <div id="AlertModalDiv">
            {% include "/layout/alert_modal.html" %}
        </div>
    </div>
    {% include "/product/product_display.html" %}
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/product/product.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product/product.css') }}" type="text/css" />
{% endblock %}