{% extends "base.html" %}

{% block title %}Product {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <div id="carouselImgs" class="carousel slide">
                    <div class="carousel-indicators">
                        {% for img in product.imgs %}
                            <button type="button" data-bs-target="#carouselImgs" data-bs-slide-to="{{ loop.index-1 }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for img in product.imgs %}
                            <div class="carousel-item">
                                <img class="d-block w-100 rounded border-white" height="600" src=/static/img/{{ img }} alt="{{ product.product_name }}-{{ loop.index-1 }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImgs" data-bs-slide="prev">
                        <i class="fa-solid fa-chevron-left fa-2x"></i>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselImgs" data-bs-slide="next">
                        <i class="fa-solid fa-chevron-right fa-2x"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div id="productDetail" class="col-12 col-md-6 pt-2 ps-4">
                <div class="d-flex align-items-start flex-column h-100">
                    <div>
                        <h2>{{ product.product_name }}</h2>
                        <p class="price">AUD <span id="ProductPrice">{{ '%0.2f'|format(product.price|float) }}</span></p>
                        <p>Qty: {{ product.quantity }}</p>
                        <p><i class="fa-solid fa-location-dot me-2"></i>{{ product.location }}</p>
                        <p><i class="fa-solid fa-shop me-2"></i>{{ product.owner.shop_name }}</p>
                    </div>
                    <div class="ms-auto">
                        <button id="ContactSellerBtn" class="btn btn-primary">Contact Seller</button>
                    </div>
                    <div id="productDescription" class="row mt-4">
                        <h2>Description:</h2>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ContactSellerModal" tabindex="-1" aria-labelledby="closedcontactSellerModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content shadow-lg">
                <div class="modal-header text-center">
                    <h1 class="modal-title fs-2" id="contactSellerModalLabel">
                        Contact Seller
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/contact_seller/{{product.id}}" method="POST">
                        <div class="modal-body">
                            {{ form.hidden_tag() }}
                            <div id="AlertModalDiv" class="hidden">
                                {% include "/layout/alert_modal.html" %}
                            </div>
                            <div class="alert alert-info alert-dismissible">
                                <h4><i class="icon fa fa-info-circle"></i> Information:</h4>
                                <div class="remarks-details">
                                    <p class="mb-1">1. The buyer's contact information will be sent directly to the seller upon submission of the form.</p>
                                    <p class="mb-1">2. Please fill in the form below and submit.</p>
                                    <p class="mb-1">3. The seller will then provide a scheduled time for communication. Kindly include details about why you need to buy this item so that the seller can better assist you.</p>
                                </div>
                            </div>
                            <div class="form-check form-switch mb-2 d-flex justify-content-end">
                                <input class="form-check-input" type="checkbox" id="modifyDetails">
                                <label class="form-check-label ms-2" for="modifyDetails">Modify Details</label>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-5 col-md-4">
                                    {{ form.first_name.label(class="form-label", for="first_name") }}
                                    {{ form.first_name(class="form-control form-control-user", placeholder="Enter First Name...") }}
                                    {% for error in form.first_name.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-5 col-md-4">
                                    {{ form.last_name.label(class="form-label", for="last_name") }}
                                    {{ form.last_name(class="form-control form-control-user", placeholder="Enter Last Name...") }}
                                    {% for error in form.last_name.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-2 col-md-4">
                                    {{ form.postcode.label(class="form-label", for="postcode") }}
                                    {{ form.postcode(class="form-control form-control-user", placeholder="Enter Postcode...") }}
                                    {% for error in form.postcode.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-5 col-md-4">
                                    {{ form.email_address.label(class="form-label", for="email_address") }}
                                    {{ form.email_address(class="form-control form-control-user", placeholder="Enter Email Address...") }}
                                    {% for error in form.email_address.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="col-lg-5 col-md-4">
                                    {{ form.contact_no.label(class="form-label", for="contact_no") }}
                                    {{ form.contact_no(class="form-control form-control-user", placeholder="Enter Contact No...") }}
                                    {% for error in form.contact_no.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-2 col-md-4">
                                    {{ form.quantity.label(class="form-label", for="quantity") }}
                                    {{ form.quantity(class="form-select") }}
                                    {% for error in form.quantity.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="d-none col-lg-3 d-lg-block"></div>
                                <div class="col-lg-5 col-md-4">
                                    <label for="estimatedPrice" class="form-label mb-3">Estimated Price</label><br/>
                                    <span id="EstimatedProductPrice">-</span>
                                </div>
                            </div>
                            <div class="mb-2">
                                {{ form.remarks.label(class="form-label", for="remark") }}
                                {{ form.remarks(class="form-control mh-100",rows="3",placeholder="Enter Description... (Optional)",style="height: 100px;") }}
                                {% for error in form.remarks.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            {{ form.submit(class="btn btn-primary", onclick="on_submit_set_enable()") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const show_contact_seller_modal = "{{ show_modal }}";
    </script>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/product/product-detail.js') }}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product/product.css') }}" type="text/css" />
{% endblock %}