.dark_mode {
    background-color: #222;
    color: #fff;
}

.dark_mode .logo {
    color: #fff;
}

.dark_mode .navbar {
    background-color: #333;
    color: #fff;
}

.dark_mode .nav-link {
    color: #fff;
}

.dark_mode .navbar .nav-link:hover {
    color: #aaa;
}

.dark_mode .dropdown-menu {
    background-color: #333;
    color: #fff;
}

.dark_mode .dropdown-item {
    color: #fff;
}

.dark_mode .dropdown-item:hover,
.dark_mode .dropdown-item:focus {
    background-color: #555;
}

.dark_mode .navbar-toggler-icon {
    filter: invert(1);
}

.dark_mode .form-control {
    background-color: #555;
    color: #fff;
    border-color:  #777;
}

.dark_mode .container.login-container {
    color: #fff;
}

.dark_mode .card {
    background-color: #1e1e1e;
    color: #fff;
}

.dark_mode .form-control-user {
    background-color: #303030;
    color: #fff;
    border-color: #555;
}

.dark_mode .btn-outline-secondary,
.dark_mode .btn-outline-danger,
.dark_mode .btn-outline-primary {
    color: #fff;
    border-color: #fff;
}

.dark_mode .fa-fw {
    margin-right: 5px;
}

.dark_mode a {
    color: #fff;
}

.dark_mode a:hover {
    color: #cccccc;
}

.dark_mode label {
    color: #fff;
}

.dark_mode #customCheck {
    border-color: #fff;
}

.dark_mode #customCheck.form-check-input {
    background-color:#333;
}

.dark_mode .small {
    color: #fff; 
}

.dark_mode .company-logo{
    color: #00A300;
}

.dark_mode body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff; 
  }
  
  .dark_mode .container {
    margin: 0 auto;
    padding: 20px;
  }
  
  .dark_mode .category-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .dark_mode .category {
    width: calc(33.33% - 20px);
    background-color: #2e2e2e;
    padding: 20px; 
    text-align: center;
    font-weight: 600;
    margin: 15px auto;
  }
  
  .dark_mode .category i {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .dark_mode .category:hover {
    background-color: #00A300;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .dark_mode .category {
      width: calc(50% - 20px);
    }
  }
  
  @media only screen and (max-width: 480px) {
    .dark_mode .category {
      width: calc(100% - 20px);
    }
  }

.dark_mode .values-container {
    background-color: #222;
    color: #fff;
  }
  
.dark_mode .values-heading {
    color: #fff;
  }
  
.dark_mode .value-item {
    background-color: #333;
    color: #fff;
  }
  
.dark_mode .value-item:hover {
    background-color: #555;
  }
  
.dark_mode .value-icon {
    color: #fff;
  }
  
.dark_mode .value-description {
    color: #ccc;
  }  