.bg-gradient {
  background-color: #fcfcfc;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
}

.login-container h1 {
  letter-spacing: 5px;
}

.login-container .p-5 {
  min-height: 489px;
  color: #858796;
}

.form-control {
  height: calc(1.5em + 0.75rem + 2px);
}

.form-control::placeholder {
  color: #d1d3e2;
}

form.user .form-control-user {
  font-size: 0.8rem;
  padding: 1.2rem 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  white-space: nowrap;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

.logo {
  color: #858796;
}

.topbar .topbar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  letter-spacing: 0.05rem;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.topbar .topbar-brand #weather_mode.fa-sun {
  color: #fdb813;
}

.topbar .topbar-brand #weather_mode.fa-moon {
  color: #3aa8c2;
}

.topbar .topbar-brand #weather_mode {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(137deg) translate(-50px);
}

@keyframes curvedpath {
  0% {
    transform: rotate(137deg) translate(-50px);
  }
  25% {
    transform: rotate(227deg) translate(-50px);
  }
  50% {
    transform: rotate(317deg) translate(-50px);
  }
  75% {
    transform: rotate(407deg) translate(-50px);
  }
  100% {
    transform: rotate(497deg) translate(-50px);
  }
}

.logo-word {
  font-weight: 900;
  font-size: 0.4em;
  position: absolute;
}

.pos-up {
  top: -29%;
  left: 42.5%;
}

.pos-down {
  top: 29%;
  left: 42.5%;
}

.login-container .company-logo {
  --fa-animation-duration: 3.5s;
}

.company-logo {
  color: #8aff8a;
  --fa-animation-duration: 0s;
}

.fa-2p5x {
  font-size: 2.5em;
}

.btn-close {
  float: right;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.btn-close:hover {
  color: #000;
  text-decoration: none;
}

.btn-close:not(:disabled):not(.disabled):hover, .btn-close:not(:disabled):not(.disabled):focus {
  opacity: .75;
}

button.btn-close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

footer.page-footer {
  padding: 2rem 0;
}

.shaded {
  box-shadow: 0 .3rem 2rem 0 rgba(58, 59, 69, .15) !important;
}

.table-card{
  border-width: 1px;
}
  
table.table-bordered th,
table.table-bordered td {
  border-width: 1px;
}

table.table-bordered th {
  vertical-align: middle;
}

table .checkbox-switch {
  margin: 5px;
  color: #fff;
}

table .checkbox-switch input[type=checkbox]:checked ~ label:before {
  content: attr(data-label-on);
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

table tr td .checkbox-switch input[type=checkbox] ~ label:before {
  padding: 14px 10px;
}

table .checkbox-switch input[type=checkbox] ~ label:before {
  padding: 10px;
  content: attr(data-label-off);
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

table .checkbox-switch input[type=checkbox]:checked ~ label {
  background-color: #00a650;
  background: linear-gradient(to left, #e2e2e2 50%, #00a650 50%);
}

table tr td .checkbox-switch input[type=checkbox] ~ label {
  width: 65px;
  height: 25px;
  font-size: .8rem;
  margin: auto;
}

table .checkbox-switch input[type=checkbox] ~ label {
  width: 85px;
  height: 35px;
  background: linear-gradient(to left, #e81d23 50%, #e2e2e2 50%);
  border-radius: 500px;
  display: block;
  cursor: pointer;
}

table .checkbox-switch input[type=checkbox] {
  display: none;
}

table tr td.dt-control:before {
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 25px;
  color: #4e73df;
  content: "\f0da";
  transition: transform .25s ease;
  cursor: pointer;
}

table tr.shown td.dt-control:before {
  transform: rotate(90deg);
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

table.table-bordered tr .card {
  color: #888;
  font-weight: 700;
  font-size: 0.8rem;
}

.table-border-left-blue {
  border-left: 0.25rem solid #2ad2eb;
}

.table-border-left-yellow {
  border-left: 0.25rem solid #fdcf5c;
}

.table-border-left-green {
  border-left: 0.25rem solid #4befb3;
}

.table-border-left-red {
  border-left: 0.25rem solid #ff6c5e;
}

table tr td .action-container .edit {
  color: #5173de;
  background-color: transparent;
  border: 0;
  padding: 0;
}

table tr td .action-container .delete {
  color: red;
  background-color: transparent;
  border: 0;
  padding: 0;

.avatar-container {
  position: relative;
  display: inline-block;
}
.change-avatar-btn {
  position: absolute;
  bottom: 10px;
  right: 5px;
  transform: translate(50%, 50%);
  background: transparent;
  border: none;
  color: #000;
}

i.fa-rounded{
  display: inline-block;
  border-radius: 100px;
  box-shadow: 0 0 2px #888;
  padding: 0.3em 0.37em;
}

.verified {
  color: #8aff8a;
}

.unverified {
  color: #ff0000;
}