<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container bg-gradient-dark topbar topbar-dark">
        <a class="logo topbar-brand d-flex align-items-center justify-content-center" href="{{ url_for('home') }}">
            <i class="fa-solid fa-leaf fa-2p5x company-logo"></i>
            <div class="mx-3">{{ company }}</div>
            <i id="weather_mode" class="fa-solid fa-sun"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('product') }}">
                            <i class="fa-solid fa-earth-oceania"></i> Explore
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-icons"></i> Categories
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Clothing & Accessories</a></li>
                            <li><a class="dropdown-item" href="#">Home & Garden</a></li>
                            <li><a class="dropdown-item" href="#">Electronics</a></li>
                            <li><a class="dropdown-item" href="#">Books & Media</a></li>
                            <li><a class="dropdown-item" href="#">Sports & Leisure</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Others</a></li>
                          </ul>
                        </ul>
                    </li>
                    <div class="col-xl-5 col-lg-3 col-md-3">
                        <form class="d-flex justify-content-center" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if (not current_user.is_anonymous) and current_user.is_seller %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('seller') }}">
                            <i class="fa-solid fa-diagram-predecessor"></i> Products
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                    <a class="nav-link" href="#" id="toggleDarkTheme">
                        <i class="fas fa-moon"></i> <span data-dark="Dark" data-light="Light">Dark</span> Theme
                    </a>
                </li>
                {% if not current_user.is_anonymous %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i> {{current_user.username}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('signup') }}">Sign Up</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block javascript %}
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
{% endblock %}