<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container bg-gradient-dark topbar topbar-dark">
        <a class="logo topbar-brand d-flex align-items-center justify-content-center" href="home" action="{{ url_for('home') }}">
            <i class="fa-solid fa-leaf fa-2p5x company-logo"></i>
            <div class="mx-3">{{ company }}</div>
            <i id="weather_mode" class="fa-solid fa-sun"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not hideNav %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Clothing & Accessories</a></li>
                            <li><a class="dropdown-item" href="#">Home & Garden</a></li>
                            <li><a class="dropdown-item" href="#">Electronics</a></li>
                            <li><a class="dropdown-item" href="#">Books & Media</a></li>
                            <li><a class="dropdown-item" href="#">Sports & Leisure</a></li>
                            <li><a class="dropdown-item" href="#">Others</a></li>
                            <!-- add more later la -->
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if not hideNav %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('seller') }}">
                            <i class="fa-solid fa-diagram-predecessor"></i> Products
                        </a>
                    </li>
                    <li class="nav-item">
                {% endif %}
                {% if not hideNav %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-bell"></i> Notifications
                        </a>
                    </li>
                    <li class="nav-item">
                {% endif %}
                    <a class="nav-link" href="#" id="toggleDarkTheme">
                        <i class="fas fa-moon"></i> <span data-dark="Dark" data-light="Light">Dark</span> Theme
                    </a>
                </li>
                {% if not hideNav %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="profile">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Account</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/home">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                        <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block javascript %}
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
{% endblock %}